<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovemap.lovemapandroid">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:name=".config.AppContext"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Lovemapandroid"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".ui.main.lovespot.list.advanced.AdvancedLoveSpotListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.PasswordResetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.love.list.LoveListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.lovespot.review.ReviewListActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.lovespot.report.ReportLoveSpotActivity"
            android:exported="false" />
        <activity
            android:name=".ui.relations.ViewOtherLoverActivity"
            android:exported="true">
            <intent-filter
                android:autoVerify="true"
                android:label="@string/filter_view_other_lover">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="api.lovemap.app"
                    android:pathPrefix="/lover"
                    android:scheme="https" />
                <data
                    android:host="api.lovemap.app"
                    android:pathPrefix="/join-us"
                    android:scheme="https" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.main.lovespot.LoveSpotDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.love.RecordLoveActivity"
            android:exported="false"
            android:noHistory="true" />
        <activity
            android:name=".ui.main.lovespot.AddLoveSpotActivity"
            android:exported="false" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="${MAPS_API_KEY}" />

        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true"
            android:theme="@style/splashScreenTheme"
            android:windowSoftInputMode="adjustResize|adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.login.RegisterActivity"
            android:exported="false"
            android:label="@string/title_activity_register"
            android:theme="@style/Theme.Lovemapandroid.NoActionBar"
            android:windowSoftInputMode="adjustResize|adjustPan" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="true"
            android:foregroundServiceType="location"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.Lovemapandroid.NoActionBar" />
    </application>

</manifest>